/* The sidebar menu */
.sidenav {
  width: 0px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 30%; /* Stay at the top */
  left: 0;
  background-color: #0179fd;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-top: 50px;
  text-align: right;
}

#hamburger {
  width: 40px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 30%; /* Stay at the top */
  left: 0;
  background-color: #0179fd;
  color: white;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #b6b6b6;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a:first-child {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

.jumbotron {
  background-color: white;
  margin-bottom: 0;
  height: 100vh;
}

#socials i {
  margin: 10px;
}

#projects .card {
  cursor: pointer;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #0179fd; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 767px) {
  .table-column {
    width: 100%;
    display: block;
  }

  .contrib-legend {
    padding: 0;
  }

  #topText {
    display: none;
  }
}
